/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f0ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-app {
  background: linear-gradient(to right, #06353c, #357e84);
  overflow-x: hidden;
  border-radius: 25px;
  padding: 1rem;
  width: 90%;
  max-width: 900px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.weather-app h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 2.8rem;
  color: white;
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
}

.weather-display {
  
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 3rem 2rem;
  margin: 2rem;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  position: relative;
}

input[type="text"] {
  width: 280px;
  padding: 0.7rem 1rem;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  outline: none;
}

button {
  padding: 0.5rem 1.2rem;
  background: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #cceeff;
}

.weather-info h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.weather-info p {
  font-size: 1.2rem;
  margin: 0.3rem 0;
}
.weather-info img {
  width: 100px;
  height: 100px;
}
.weather-info {
  text-align: center;
}